.calendar_grid {
	display: grid;
	width: 94%;
	height: 600px;
  	max-width: 94%;
  	max-height: 96%;
  	margin: 3% auto 2rem auto;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1rem;
	grid-template-areas:
		"title title title day1 day2 day3"
		"title title title day4 day5 day6"
		"title title title day7 day8 day9"
		"day10 day11 day12 day13 day14 day15"
		"day16 day17 day18 day19 day24 day25"
		"day20 day21 day22 day23 day24 day25";
}

.title {
	grid-area: title;
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: dotted;
	height: 100%;
}

.title1 {
	color: red;
	display: block;
	text-align: center;
}

.title2 {
	color: blue;
	display: block;
	text-align: center;
}

.title3 {
	color: green;
	display: block;
	text-align: center;
}

#head {
	font-size: 18px;
}

#message {
	margin: auto;
	width: 70%;
	text-align: center;
	font-size: 17px;
}

.day {
	border-style: dotted;
	height: 100%;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	background-color: white;
  	border-width: 3px;
  	font-size: 20px;
  	font-family: "Papyrus";
  	font-weight: bold;
}

.day:hover {
	background-color: #04AA6D;
}

.day1 {
	grid-area: day1;
}

.day2 {
	grid-area: day2;
}

.day3 {
	grid-area: day3;
}

.day4 {
	grid-area: day4;
}

.day5 {
	grid-area: day5;
}

.day6 {
	grid-area: day6;
}

.day7 {
	grid-area: day7;
}

.day8 {
	grid-area: day8;
}

.day9 {
	grid-area: day9;
}

.day10 {
	grid-area: day10;
}

.day11 {
	grid-area: day11;
}

.day12 {
	grid-area: day12;
}

.day13 {
	grid-area: day13;
}

.day14 {
	grid-area: day14;
}

.day15 {
	grid-area: day15;
}

.day16 {
	grid-area: day16;
}

.day17 {
	grid-area: day17;
}

.day18 {
	grid-area: day18;
}

.day19 {
	grid-area: day19;
}

.day20 {
	grid-area: day20;
}

.day21 {
	grid-area: day21;
}

.day22 {
	grid-area: day22;
}

.day23 {
	grid-area: day23;
}

.day24 {
	grid-area: day24;
}

.day25 {
	grid-area: day25;
}

.popup {
	width: 900px;
	height: 400px;
	background: white;
	border-radius: 6px;
	border-color: black;
	border-style: solid;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	visibility: hidden;
	transition: transform 0.7s, top 0.4s;
}

.popup img {
	width: 100px;
	margin-top: -50px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup button {
	width: 100px;
	margin-top: 50px;
	padding: 10px 0;
	background: lightgrey;
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.open_popup {
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
}
